{% extends "buisdict/base.html" %}

{% block title %}Esypto{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card shadow">
            <p>Find the best businesses and services in your area. Explore now!</p>
            <a href="{% url 'explore' %}" class="btn btn-success"><i class="fas fa-search"></i> Explore</a>
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
        <p class="lead"><i class="fas fa-map-marker-alt"></i> The best platform for finding local businesses. Browse categories to find what you need!</p>
    </div>
</div>
{% endblock %}
