{% extends 'buisdict/base.html' %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4">
        {% if category %}
            Explore {{ category|title }} Businesses
        {% else %}
            Explore All Businesses
        {% endif %}
    </h2>

    {% for explore in explore_list %}
    <div class="card mb-3 shadow-sm p-3"
     style="cursor: pointer;"
     onclick="window.location.href='{% url 'business_detail' explore.pk %}'">
        <div class="card-body">
            <h6 class="text-uppercase text-muted mb-1">{{ explore.entry_type }}</h6>
            <h5 class="card-title mb-1"><strong>{{ explore.buiness_name }}</strong></h5>
            <p class="mb-1">{{ explore.address }}</p>

            {% if explore.google_map_link %}
            <p class="mb-1">
                <a href="{{ explore.google_map_link }}" target="_blank" class="text-primary">
                    {{ explore.google_map_link }}
                </a>
            </p>
            {% endif %}

            <p class="mb-2">{{ explore.contact_no }}</p>
            <div class="d-flex gap-3 text-muted small">
                <span><i class=""></i>{{ explore.about }}</span>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
